doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js(ng-app="venvyApp")
    // <![endif]
    head
        meta(name="fragment",content="!")
        meta(name="renderer",content="webkit")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(charset="utf-8")
        base(href="/")
        title 玩tv－游戏、综艺、原创，视频标签玩起来，Powered by 云视链
        meta(name="description",content="玩tv是可戳、可槽、可买、可问的互动视频新世界。吐槽游戏解说神攻略，综艺热剧同款光速追。视频标签互动约pao，用最黑的云视链科技一起来玩视频吧！“玩tv” 手机App限免中。")
        meta(name="keywords",content="云视链,wantv.me,wantv,玩视频么,玩tv,venvy,视链,小云神器,视频购物,金证济苍,自动视链,视频,购物,科普,社交,吐槽,购物,无广告,神器,视频标签,优酷视频")
        meta(name="author",content="云视链,Venvy Inc.")
        meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        // build:css({.tmp,client}) venvy/vendor.css
        link(href="bower_components/animate.css/animate.css", rel='stylesheet')
        // endbuild
        // build:css({.tmp,client}) venvy/app.css
        link(href='app/app.css', rel='stylesheet')
        // endbuild
        link(href="http://7xjfim.com2.z0.glb.qiniucdn.com/Iva.css", rel='stylesheet')
        script.
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?0044538d0a18d393c53da524283412ad";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-61280226-1', 'auto');
            ga('send', 'pageview');
    body(ng-controller="appController")
      //if lt IE 7
        p.browsehappy
          | You are using an
          strong outdated
          | browser. Please
          a(href="http://browsehappy.com/") upgrade your browser
          | to improve your experience.
      section.venvy-wrapper(ng-class="wrapper")
          include app/navbar/navbar
          section.venvy-content(ui-view="")
          include app/include/footer
      script(src="http://7xjfim.com2.z0.glb.qiniucdn.com/Iva.js")


      // build:js({.tmp,client}) venvy/vendor.js
      // bower:js
      script(src='bower_components/jquery/dist/jquery.js')
      script(src='bower_components/angular/angular.min.js')
      script(src='bower_components/angular-resource/angular-resource.js')
      script(src='bower_components/angular-cookies/angular-cookies.js')
      script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
      script(src="bower_components/moment/moment.js")
      script(src="bower_components/moment/locale/zh-cn.js")
      script(src="bower_components/moment/min/moment-with-locales.js")
      script(src="bower_components/zeroclipboard/dist/ZeroClipboard.js")
      script(src="bower_components/jquery-qrcode/jquery.qrcode.min.js")
      script(src="bower_components/validator-js/validator.js")
      script(src="bower_components/waypoints/lib/jquery.waypoints.js")
      // endbower
      // endbuild

      // build:js({.tmp,client}) venvy/app.js
      // injector:js
      // endinjector
      // endbuild
      
