extends ../layout/layout.jade
block content    
    section
        div.headerImg
            img(src="http://7u2pv5.com2.z0.glb.qiniucdn.com/ebanner.jpg",style="width:100% !important")
        div.main_bg
            div.articleTitle
                | Reach a little higher today.
                div &nbsp;
            div.articleMain.borderSty
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutwill.jpg")
                        li.Pname  金证济苍
                        li.Pposition Founder & CEO
                        li.Pintroduce  哈佛数学及计算机大四休学。15岁起全职工作至今7年，后于哈佛创新实验室创立Venvy，上海创立云视链。双胞胎弟弟金证济生于加拿大布道基督教。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxiaoqi.jpg")
                        li.Pname  小七
                        li.Pposition 小云神兽
                        li.Pintroduce 别拍我，别拍我，我7个月大啦～我是个傲娇高冷的小宝宝，和小伙伴们一起啪啪啪～
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutshuizhu.jpg")
                        li.Pname  水竹哥
                        li.Pposition COO
                        li.Pintroduce 连续创业者。奥赛保送清华，北大硕士，曾创立嘉田文化投资《两天一夜》节目破四川卫视收视纪录。曾获黑马大赛十强及北美创业大赛20强。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdongze.jpg")
                        li.Pname  东泽
                        li.Pposition Tech Team Leader
                        li.Pintroduce 百度Ueditor:nodejs作者，Dota npm模块作者，众多开源项目代码贡献者。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutyongjun.png")
                        li.Pname  勇军
                        li.Pposition 人工智能部 Team Leader
                        li.Pintroduce 一个人的性格决定他的机遇。如果你喜欢保持你的性格，那么你就无权拒绝你的机遇。曾为美国HP人工智能实验室、中国平安领导小组效力。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdrzhang.png")
                        li.Pname  Dr.老张
                        li.Pposition 人工智能部 Co-Leader
                        li.Pintroduce 疯狂热爱并从事计算机视觉研究十余年，中科院图像识别博士，曾为Autodesk、浙大、中科院等多家研究机构效力的疯狂博士一枚。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxiege.jpg")
                        li.Pname  谢哥
                        li.Pposition 智能神经网络开发
                        li.Pintroduce 公司里最早来到这个世界上的。开发十几载，没秃顶棒棒哒。（霸王加特效，你值得拥有）
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutluke.jpg")
                        li.Pname  量量
                        li.Pposition 前端主攻狮
                        li.Pintroduce 抠细节像抠脚一样认真。为极致的细节体验经常废寝忘食、强迫症晚期的患者攻城狮一枚。对量量有好感的请在面试中提出。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutluzhu.jpg")
                        li.Pname  Luzhu
                        li.Pposition 商务总监
                        li.Pintroduce  宾夕法尼亚大学沃顿商学院毕业后从咨询跳出创业二遭未果，遂加入云视链完成人生的最后一搏。他是撸主？卤煮？芦竹？懒猪？梁祝？楼主？
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutchensi.jpg")
                        li.Pname  思大神
                        li.Pposition web视频主管
                        li.Pintroduce 踏踏实实的90后，因为努力做事而骄傲。经常徒步，从江苏到河南1000公里路。坚信者。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutmumu.jpg")
                        li.Pname  大目
                        li.Pposition 市场总监
                        li.Pintroduce 创业团队厮杀互联网行业七栽有余。曾率团队奋战携程创投商旅CC项目、国内首家酷炫AR高端婚礼平台。加入小云，再度身披铠甲的高能量小宇宙女战神。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutailin.png")
                        li.Pname  艾琳
                        li.Pposition 新媒体市场总监
                        li.Pintroduce 从创作工作室，到时尚媒体人，自由写手，知名导演御用编剧兼策划；中国十大互联网公司跻身而出，期待再创行业奇迹。曾为滴滴打车效力。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutlaozhu.png")
                        li.Pname  老猪 Flying Pig
                        li.Pposition 前端主力开发
                        li.Pintroduce 像素眼，细节控；逛遍知乎，刷爆微博；上得了厅堂，下得了机房；深信不懂射鸡的产品汪不是好程序猿。曾就职于网易。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutpc.png")
                        li.Pname  鹏程
                        li.Pposition 开放平台开发负责人
                        li.Pintroduce 本可以靠胸吃饭的，却偏要靠才华，哎。我其实只想安安静静的写代码……曾就职于百度。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutryan.png")
                        li.Pname  Ryan土豆
                        li.Pposition UI/UX Team Leader
                        li.Pintroduce 一名优秀的猫咪铲屎工 一个热爱绘画的宅男 一个便池思考者。作品说话。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutchengchi.jpg")
                        li.Pname  C爷
                        li.Pposition UI设计师
                        li.Pintroduce oh baby!你就是我的唯一,两个世界都变形回去谈和容易,确定你就是我的唯一,独自对着电话说我爱你,我真的爱你,baby,我已不能爱你多一些,其实早已超过了爱的界限
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutfeifei.jpg")
                        li.Pname  菲菲
                        li.Pposition UI设计师
                        li.Pintroduce 艺术品届的“李阿姨”。镁铝设计师，“小云”她妈咪，1个月内成功孵化出小云。非花瓶版女神。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutshuaibing.jpg")
                        li.Pname  兵兵
                        li.Pposition 前端攻城狮
                        li.Pintroduce 处女座，有大部分星座属性，最喜欢汤唯 ，最喜爱前端技术
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutgaoyang.jpg")
                        li.Pname  高扬
                        li.Pposition 智能攻城狮
                        li.Pintroduce 我是梦想达人，爱好旅游，音乐，还有各种high玩啊，技术宅，当然人工智能-图像识别最无敌了!
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutshengyang.jpg")
                        li.Pname  祁晟旸
                        li.Pposition iOS攻城湿
                        li.Pintroduce 自从来到了云视链，腰不酸了，腿不痛了，走路也有劲了！
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutniuniu.jpg")
                        li.Pname  牛牛
                        li.Pposition iOS攻城湿
                        li.Pintroduce 你愿意嫁给我吗？＝＝》
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutguofang.jpg")
                        li.Pname  防防
                        li.Pposition 安智攻城湿
                        li.Pintroduce 《＝＝ YES ! I do !
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutmeichen.jpg")
                        li.Pname  梅晨
                        li.Pposition 靠谱攻城狮
                        li.Pintroduce 江湖人称“梅超疯”，IT届的梅西。致力于踢出产品中最漂亮的一记点球。膝下一女。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxudong.jpg")
                        li.Pname  张旭东
                        li.Pposition web攻城狮
                        li.Pintroduce 沉迷于IT世界的小强，无自理能力、黑白颠倒、“夜生活”丰富的猿人一位。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutjianfeng.jpg")
                        li.Pname  剑峰
                        li.Pposition 测试&高并发调试工程师
                        li.Pintroduce 愿意 用一支黑色的铅笔，画一出沉默舞台剧，灯光再亮，也抱住你。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutwangzhan.jpg")
                        li.Pname  Alien
                        li.Pposition 产品助理
                        li.Pintroduce 90后的大僵汉子，曾自主创业，对产品追求变态的完美。理想和信念是他最优秀的品质。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxinting.jpg")
                        li.Pname  欣婷
                        li.Pposition 市场内容狮
                        li.Pintroduce 在现实与自我中穿梭，喜欢活在自己的世界里。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutpinling.jpg")
                        li.Pname  霖霖
                        li.Pposition 市场观测员
                        li.Pintroduce 回望海岸，千钧波澜，驻足高山，尽览万川。突破极限的文艺青年，自由不羁笑点低。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutbingling.jpg")
                        li.Pname  小郭
                        li.Pposition 市场内容狮
                        li.Pintroduce 白昼是夏日，热情如火。月夜是深秋，安静充实。我是小郭，我要为自己带盐。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutchenying.jpg")
                        li.Pname  陈公子酱
                        li.Pposition 市场美妆狮
                        li.Pintroduce 画中娇，姿色天然，占尽风流，我的美，你值得拥有！
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutwenenxing.jpg")
                        li.Pname  星爷
                        li.Pposition 市场内容狮
                        li.Pintroduce 旋转跳跃我不停歇~会跳舞的文艺青年，我就是我不一样的烟火~！
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutchenglu.jpg")
                        li.Pname  小璐子
                        li.Pposition 市场内容狮
                        li.Pintroduce 有时候一点点改变，就能遇见不一样的自己。从头开始，璐在前方。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutzaimeng.jpg")
                        li.Pname  在面儿
                        li.Pposition 游戏视频专员
                        li.Pintroduce 我爱的人，他却不爱我，学会LOL是最后的结果！
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutyanzi.jpg")
                        li.Pname  燕子
                        li.Pposition 市场内容师
                        li.Pintroduce 睡起煎茶，听低声卖花。留住卖花人问，今日可有豆花？资深“吃货”一枚，至今无法自拔。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxiaojun.png")
                        li.Pname  晓君
                        li.Pposition HR姐姐
                        li.Pintroduce 害羞内敛低调的HR一枚，希望能不断更好地服务这个大家庭哦～
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutguoguo.png")
                        li.Pname  郭郭
                        li.Pposition BD 商务拓展经理
                        li.Pintroduce 爱好广泛，思维活跃的拔城商务小神，小火箭，风一样
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutzhibo.png")
                        li.Pname  智博（Prince）
                        li.Pposition junior前端开发 & 测试
                        li.Pintroduce 身为一名低调的prince，远离浮沉的喧嚣，追寻宁静的归宿，这才是我……咳！咳！真是的，装个B也能呛着。自从来了这里，进步神速。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdan.jpg")
                        li.Pname  Daniel Meng
                        li.Pposition 产品&设计
                        li.Pintroduce 负责设计、产品开发以及运营。完成在Western金融的学习后又获得伦敦政治经济学院的战略学位。曾任职于Synergy GP。禅思者。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutserge.jpg")
                        li.Pname  Sergei Gmyria
                        li.Pposition 智能攻城师
                        li.Pintroduce 设计并点亮前后端程序开发及应用。拥有多项美国USPTO技术专利。北美最大Av-Base航空系统的奠基开发者之一。远足客。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdon1.jpg")
                        li.Pname  Don Jackson
                        li.Pposition 智能攻城狮
                        li.Pintroduce 管理计算机视觉算法及交互应用团队，著有2014CMT自动交互论文。逾二十年的软件工程师经验。爱家男。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutsri1.jpg")
                        li.Pname  Sri Peroo
                        li.Pposition CV攻城狮
                        li.Pintroduce 和他的导师Todd Zickler,全球顶尖哈佛教授为云视链负责自创CV项目。72小时不睡男。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutmik.jpg")
                        li.Pname  Miklos Mattyasovszky
                        li.Pposition 北美客户总监
                        li.Pintroduce 客户关系，拓展业务及推广策略。Cornell大学英语文学类文学士学位。曾任职甲骨文。文学家。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutnick.jpg")
                        li.Pname  Nicholas Gavin
                        li.Pposition 战略总监
                        li.Pintroduce 开拓商务关系以及战略援助。毕业于哈佛数学系，之前就职于智利财务部。世界旅行家。
                div.peopleBox
                    ul.peoList
                        li.Headimg
                            img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutvitali.jpg")
                        li.Pname  Vitali Veramkovich
                        li.Pposition 研究部主管
                        li.Pintroduce 负责项目管理及前端开发。曾在奥巴马访加时接待并深入沟通科技领域美加大学教育合作。先知。
                div.clear
            div.articleTitle
                | 提供大力帮助的小伙伴
                div &nbsp;
            div.articleMain
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutMorgan_Stanley.png")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutintel.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutyamaha.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutverisign.png")
                div.clear
            div.articleTitle
                | 世界在鞭策
                div &nbsp;
            div.articleMain
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutjiefangribao.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/about36kr.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/abouttengxun.jpeg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdiyicaijing.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutfenghuang.gif")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutsina.gif")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/abouttechweb.gif")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutwangyi.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/abouttechnode.png")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutdongfangwang.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutforbes.jpg")
                div.LittleFriends
                    img(src="http://7xkf6d.com2.z0.glb.qiniucdn.com/aboutxinhuashe.jpg")
                div.clear
    style.
        .venvy-wrapper{
          background-color:#fff;
        }
        footer{
          background-color:#f5f6f5;
        }
        .headerImg {
            margin-top: -60px;
            width: 100%;
            min-width: 900px;
        }

        .main_bg {
            width: 1000px;
            margin: 0px auto;
            clear: both;
        }

        .articleTitle {
            width: 100%;
            height: 75px;
            color: #1e1e1e;
            font-size: 32px;
            text-align: center;
            line-height: 55px;
            margin-top: 25px;
        }

        .articleTitle div {
            height: 5px;
            width: 80px;
            background-color: #e60012;
            margin: 0px auto;
            margin-top: 1px;
        }

        .articleMain {
            width: 100%;
            min-height: 120px;
            clear: both;
        }

        .borderSty {
            border-bottom: 2px #ccc dashed;
        }

        .articleMain .peopleBox {
            width: 230px;
            height: 450px;
            float: left;
            margin: 25px 51px;
            text-align: center;
        }

        .clear {
            clear: both;
        }

        .peoList {
            width: 100%;
            height: 100%;
            list-style: none;
        }

        .peoList .Headimg {
            width: 100%;
            height: 45%;
            /*display: inline;*/
        }

        .Headimg img {
            display: block;
            width: 180px !important;
            height: 180px !important;
            -webkit-border-radius: 10000px;
            border-radius: 10000px;
            margin: 0 auto;
        }

        .peoList .Pname {
            width: 100%;
            height: 10%;
            line-height: 50px;
            color: #000;
            font-size: 16px;
        }

        .peoList .Pposition {
            width: 100%;
            height: 10%;
            line-height: 50px;
            color: #666;
            font-size: 14px;
        }

        .peoList .Pintroduce {
            width: 80%;
            height: 35%;
            position: relative;
            margin: 0px auto;
            line-height: 25px;
            color: #999;
        }

        /*合作的小伙伴*/
        .LittleFriends {
            width: 25%;
            height: 180px;
            float: left;
            text-align: center;
            margin: 25px 0px;
            vertical-align: middle;
        }

        .LittleFriends img {
            display: block;
            max-width: 180px;
            max-height: 100px;
            margin: 50px auto;
        }
    script.
        $(function(){
            $('#venvy-header-navbar').addClass('transparent channels');
            $(document).on('scroll', function () {
                var _bottom = $('.headerImg')[0].getBoundingClientRect().bottom;
                var _top = $(this).scrollTop();

                if (_top >= _bottom ) {
                    $('#venvy-header-navbar').removeClass('transparent');
                } else {
                    $('#venvy-header-navbar').addClass('transparent');
                }
            })
        })
