footer
    ul
        li
            a(href="http://weibo.com/venvyvideo",target="_blank")
                i.fa.fa-weibo
        li
            a(href="javascript:void(0);",target="_blank")
                i.fa.fa-qq
            .qrcode-box.venvy-box.top.center
              .container
                .qrcode
                  img(src="assets/images/qr_qq.jpg")
        li
            a(href="javascript:void(0);",target="_blank")
                i.fa.fa-wechat
            .qrcode-box.venvy-box.top.center
              .container
                .qrcode
                  img(src="assets/images/wechat.jpg")
        li
            a(href="http://blog.wantv.me",target="_blank") Blog
        li
            a(href="/about",target="_blank") About
        li
            a(href="http://www.jobtong.com/e/13398",target="_blank") Jobs
        li
            a(href="/contact",target="_blank") Contact
        li
            a(href="/term",target="_blank") Terms
        //li
        //    a(href="http://blog.wantv.me",target="_blank") Privacy
        //li
        //    a(href="http://blog.wantv.me",target="_blank") Rules
        li
            |© 2015 Powered by
            a(href="http://videojj.com",target="_blank") &nbsp; 云视链
        li
            |沪ICP备15042830-4号
